__Covid19 Dashboard__

In this notebook I'll build an interactive dashboard for COVID19. Firstly, let's prepare the data before visualizing

In [1]:
# loading confirmed cases, deaths and recoveries from GitHub repository
import pandas as pd
confirmed_cases_data = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
deaths_data = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
recoveries_data = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')

In [2]:
confirmed_cases_data.head(10)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/5/22,8/6/22,8/7/22,8/8/22,8/9/22,8/10/22,8/11/22,8/12/22,8/13/22,8/14/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,187037,187109,187442,187685,187966,188202,188506,188704,188820,189045
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,316145,316976,317514,317681,318638,319444,320086,320781,321345,321804
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,268033,268141,268254,268356,268478,268584,268718,268866,269008,269141
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,45793,45793,45793,45793,45793,45899,45899,45899,45899,45899
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,102636,102636,102636,102636,102636,102636,102636,102636,102636,102636
5,NaN,Antarctica,-71.94990,23.347000,0,0,0,0,0,0,...,11,11,11,11,11,11,11,11,11,11
6,NaN,Antigua and Barbuda,17.06080,-61.796400,0,0,0,0,0,0,...,8773,8773,8787,8809,8809,8809,8809,8820,8820,8820
7,NaN,Argentina,-38.41610,-63.616700,0,0,0,0,0,0,...,9560307,9560307,9602534,9602534,9602534,9602534,9602534,9602534,9602534,9633732
8,NaN,Armenia,40.06910,45.038200,0,0,0,0,0,0,...,426799,426799,426799,428648,428648,428648,428648,428648,428648,428648
9,Australian Capital Territory,Australia,-35.47350,149.012400,0,0,0,0,0,0,...,194705,195115,195621,196098,196642,197094,197561,197883,198193,198480

In [3]:
deaths_data.head(10)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/5/22,8/6/22,8/7/22,8/8/22,8/9/22,8/10/22,8/11/22,8/12/22,8/13/22,8/14/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,7752,7752,7752,7753,7753,7753,7755,7755,7758,7758
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,3557,3560,3563,3566,3566,3567,3568,3569,3570,3571
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,6878,6878,6878,6878,6878,6878,6878,6878,6878,6878
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,154,154,154,154,154,154,154,154,154,154
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,1917,1917,1917,1917,1917,1917,1917,1917,1917,1917
5,NaN,Antarctica,-71.94990,23.347000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,NaN,Antigua and Barbuda,17.06080,-61.796400,0,0,0,0,0,0,...,144,144,144,144,144,144,144,144,144,144
7,NaN,Argentina,-38.41610,-63.616700,0,0,0,0,0,0,...,129369,129369,129440,129440,129440,129440,129440,129440,129440,129566
8,NaN,Armenia,40.06910,45.038200,0,0,0,0,0,0,...,8635,8635,8635,8637,8637,8637,8637,8637,8637,8637
9,Australian Capital Territory,Australia,-35.47350,149.012400,0,0,0,0,0,0,...,101,101,102,106,107,108,109,110,110,110

In [4]:
recoveries_data.head(10)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/5/22,8/6/22,8/7/22,8/8/22,8/9/22,8/10/22,8/11/22,8/12/22,8/13/22,8/14/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,NaN,Antarctica,-71.94990,23.347000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,NaN,Antigua and Barbuda,17.06080,-61.796400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,NaN,Argentina,-38.41610,-63.616700,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,NaN,Armenia,40.06910,45.038200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Australian Capital Territory,Australia,-35.47350,149.012400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Well, cases are not convinently distributed (they are in wide format). It will be transformed into a long format in the next section

In [5]:
confirmed_cases_data = pd.melt(confirmed_cases_data, id_vars=confirmed_cases_data.columns[:4], value_vars=confirmed_cases_data.columns[4:], var_name='date', value_name='confirmed')
deaths_data = pd.melt(deaths_data, id_vars=deaths_data.columns[:4], value_vars=deaths_data.columns[4:], var_name='date', value_name='deaths')
recoveries_data = pd.melt(recoveries_data, id_vars=recoveries_data.columns[:4], value_vars=recoveries_data.columns[4:], var_name='date', value_name='recoveries')

In [6]:
confirmed_cases_data.head(10)

,Province/State,Country/Region,Lat,Long,date,confirmed
0,NaN,Afghanistan,33.93911,67.709953,1/22/20,0
1,NaN,Albania,41.15330,20.168300,1/22/20,0
2,NaN,Algeria,28.03390,1.659600,1/22/20,0
3,NaN,Andorra,42.50630,1.521800,1/22/20,0
4,NaN,Angola,-11.20270,17.873900,1/22/20,0
5,NaN,Antarctica,-71.94990,23.347000,1/22/20,0
6,NaN,Antigua and Barbuda,17.06080,-61.796400,1/22/20,0
7,NaN,Argentina,-38.41610,-63.616700,1/22/20,0
8,NaN,Armenia,40.06910,45.038200,1/22/20,0
9,Australian Capital Territory,Australia,-35.47350,149.012400,1/22/20,0

In [7]:
deaths_data.head(10)

,Province/State,Country/Region,Lat,Long,date,deaths
0,NaN,Afghanistan,33.93911,67.709953,1/22/20,0
1,NaN,Albania,41.15330,20.168300,1/22/20,0
2,NaN,Algeria,28.03390,1.659600,1/22/20,0
3,NaN,Andorra,42.50630,1.521800,1/22/20,0
4,NaN,Angola,-11.20270,17.873900,1/22/20,0
5,NaN,Antarctica,-71.94990,23.347000,1/22/20,0
6,NaN,Antigua and Barbuda,17.06080,-61.796400,1/22/20,0
7,NaN,Argentina,-38.41610,-63.616700,1/22/20,0
8,NaN,Armenia,40.06910,45.038200,1/22/20,0
9,Australian Capital Territory,Australia,-35.47350,149.012400,1/22/20,0

In [8]:
recoveries_data.head(10)

,Province/State,Country/Region,Lat,Long,date,recoveries
0,NaN,Afghanistan,33.93911,67.709953,1/22/20,0
1,NaN,Albania,41.15330,20.168300,1/22/20,0
2,NaN,Algeria,28.03390,1.659600,1/22/20,0
3,NaN,Andorra,42.50630,1.521800,1/22/20,0
4,NaN,Angola,-11.20270,17.873900,1/22/20,0
5,NaN,Antarctica,-71.94990,23.347000,1/22/20,0
6,NaN,Antigua and Barbuda,17.06080,-61.796400,1/22/20,0
7,NaN,Argentina,-38.41610,-63.616700,1/22/20,0
8,NaN,Armenia,40.06910,45.038200,1/22/20,0
9,Australian Capital Territory,Australia,-35.47350,149.012400,1/22/20,0

According to the source, there are some problems with Canada. Let's have a look

In [9]:
confirmed_cases_data[confirmed_cases_data['Country/Region']=='Canada']

,Province/State,Country/Region,Lat,Long,date,confirmed
40,Alberta,Canada,53.9333,-116.5765,1/22/20,0
41,British Columbia,Canada,53.7267,-127.6476,1/22/20,0
42,Diamond Princess,Canada,0.0000,0.0000,1/22/20,0
43,Grand Princess,Canada,0.0000,0.0000,1/22/20,0
44,Manitoba,Canada,53.7609,-98.8139,1/22/20,0
...,...,...,...,...,...,...
266526,Prince Edward Island,Canada,46.5107,-63.4168,8/14/22,48027
266527,Quebec,Canada,52.9399,-73.5491,8/14/22,1161491
266528,Repatriated Travellers,Canada,NaN,NaN,8/14/22,13
266529,Saskatchewan,Canada,52.9399,-106.4509,8/14/22,140291
266530,Yukon,Canada,64.2823,-135.0000,8/14/22,4771

In [10]:
deaths_data[deaths_data['Country/Region']=='Canada']

,Province/State,Country/Region,Lat,Long,date,deaths
40,Alberta,Canada,53.9333,-116.5765,1/22/20,0
41,British Columbia,Canada,53.7267,-127.6476,1/22/20,0
42,Diamond Princess,Canada,0.0000,0.0000,1/22/20,0
43,Grand Princess,Canada,0.0000,0.0000,1/22/20,0
44,Manitoba,Canada,53.7609,-98.8139,1/22/20,0
...,...,...,...,...,...,...
266526,Prince Edward Island,Canada,46.5107,-63.4168,8/14/22,51
266527,Quebec,Canada,52.9399,-73.5491,8/14/22,16116
266528,Repatriated Travellers,Canada,NaN,NaN,8/14/22,0
266529,Saskatchewan,Canada,52.9399,-106.4509,8/14/22,1438
266530,Yukon,Canada,64.2823,-135.0000,8/14/22,30

In [11]:
recoveries_data[recoveries_data['Country/Region']=='Canada']

       Province/State Country/Region      Lat      Long     date  recoveries
40                NaN         Canada  56.1304 -106.3468  1/22/20           0
310               NaN         Canada  56.1304 -106.3468  1/23/20           0
580               NaN         Canada  56.1304 -106.3468  1/24/20           0
850               NaN         Canada  56.1304 -106.3468  1/25/20           0
1120              NaN         Canada  56.1304 -106.3468  1/26/20           0
...               ...            ...      ...       ...      ...         ...
251410            NaN         Canada  56.1304 -106.3468  8/10/22           0
251680            NaN         Canada  56.1304 -106.3468  8/11/22           0
251950            NaN         Canada  56.1304 -106.3468  8/12/22           0
252220            NaN         Canada  56.1304 -106.3468  8/13/22           0
252490            NaN         Canada  56.1304 -106.3468  8/14/22           0

[936 rows x 6 columns]

The problem is that in Deaths/Confirmed cases datasets Canada's data is represented with provinces while in Recoveries provinces are not mentioned. To continue working on the data, this possible conflict must be resolved

In [12]:
# summarizing numbers in Canada confirmed cases and deaths
confirmed_cases_canada = confirmed_cases_data[confirmed_cases_data['Country/Region']=='Canada'].groupby('date').sum()[['confirmed']]
deaths_canada = deaths_data[deaths_data['Country/Region']=='Canada'].groupby('date').sum()[['deaths']]

# extracting Canada recoveries (columns)
recoveries_canada = recoveries_data[recoveries_data['Country/Region']=='Canada']
template_updated_canada = recoveries_canada[recoveries_canada.columns[:-1]].reset_index(drop=True)

# joining deaths and confirmed cases with teh columns
confirmed_cases_canada = template_updated_canada.merge(confirmed_cases_canada, how='inner', left_on='date', right_index=True)
deaths_canada = template_updated_canada.merge(deaths_canada, how='inner', left_on='date', right_index=True)

# altering the original deaths and confirmed cases to resolve the problem
confirmed_cases_data = confirmed_cases_data[confirmed_cases_data['Country/Region']!='Canada'].append(confirmed_cases_canada)
deaths_data = deaths_data[deaths_data['Country/Region']!='Canada'].append(deaths_canada)

The problem was resolved by summarizing deaths and confirmed cases for the whole country by date and merging with recoveries values

Then all the three tables will be cobined into one table

In [13]:
combined_data = confirmed_cases_data.merge(deaths_data, how='inner', on=['Country/Region', 'Province/State', 'date', 'Lat', 'Long']).merge(recoveries_data, how='inner', on=['Country/Region', 'Province/State', 'date', 'Lat', 'Long'])
combined_data = combined_data.drop(['Lat', 'Long'], axis=1)
combined_data.sample(15)

,Province/State,Country/Region,date,confirmed,deaths,recoveries
138305,NaN,Trinidad and Tobago,6/28/21,32343,822,24170
99184,NaN,Niger,1/31/21,4517,159,3755
81004,NaN,Spain,11/23/20,1582616,43131,150376
19850,Guizhou,China,4/6/20,146,2,144
197976,Anguilla,United Kingdom,2/9/22,2458,9,0
15772,NaN,Poland,3/21/20,536,5,1
74726,Tasmania,Australia,10/31/20,230,13,217
213492,NaN,Netherlands,4/9/22,7981743,22096,0
147276,NaN,Tajikistan,8/1/21,15550,122,14556
137561,NaN,Austria,6/26/21,645587,13064,637238
81234,NaN,North Macedonia,11/24/20,56164,1561,33892
234860,NaN,Marshall Islands,6/29/22,18,0,0
96152,Inner Mongolia,China,1/20/21,366,1,351
29505,NaN,Rwanda,5/12/20,286,0,153
77022,NaN,Qatar,11/8/20,134203,232,131276

Time to build the dash board

To build an interactive map, first, we need to convert countries to ISO codes (alpha-3)

In [14]:
import pycountry
contries_lst = [i.name for i in  pycountry.countries]
for country in combined_data['Country/Region'].unique():
    if country not in contries_lst:
        print(country)

Bolivia
Brunei
Burma
Congo (Brazzaville)
Congo (Kinshasa)
Cote d'Ivoire
Diamond Princess
Holy See
Iran
Korea, North
Korea, South
Kosovo
Laos
MS Zaandam
Micronesia
Moldova
Russia
Summer Olympics 2020
Taiwan*
Tanzania
US
Venezuela
Vietnam
West Bank and Gaza
Winter Olympics 2022

In [15]:
combined_data['Country/Region'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, North', 'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan',
       'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'MS Zaandam',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Morocco', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Summer Olympics 2020', 'Suriname', 'Sweden', 'Switzerland',
       'Taiwan*', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'US', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'West Bank and Gaza', 'Winter Olympics 2022', 'Yemen', 'Zambia',
       'Zimbabwe', 'Canada'], dtype=object)

In [16]:
print(*contries_lst, sep='\n')

Aruba
Afghanistan
Angola
Anguilla
Åland Islands
Albania
Andorra
United Arab Emirates
Argentina
Armenia
American Samoa
Antarctica
French Southern Territories
Antigua and Barbuda
Australia
Austria
Azerbaijan
Burundi
Belgium
Benin
Bonaire, Sint Eustatius and Saba
Burkina Faso
Bangladesh
Bulgaria
Bahrain
Bahamas
Bosnia and Herzegovina
Saint Barthélemy
Belarus
Belize
Bermuda
Bolivia, Plurinational State of
Brazil
Barbados
Brunei Darussalam
Bhutan
Bouvet Island
Botswana
Central African Republic
Canada
Cocos (Keeling) Islands
Switzerland
Chile
China
Côte d'Ivoire
Cameroon
Congo, The Democratic Republic of the
Congo
Cook Islands
Colombia
Comoros
Cabo Verde
Costa Rica
Cuba
Curaçao
Christmas Island
Cayman Islands
Cyprus
Czechia
Germany
Djibouti
Dominica
Denmark
Dominican Republic
Algeria
Ecuador
Egypt
Eritrea
Western Sahara
Spain
Estonia
Ethiopia
Finland
Fiji
Falkland Islands (Malvinas)
France
Faroe Islands
Micronesia, Federated States of
Gabon
United Kingdom
Georgia
Guernsey
Ghana
Gibraltar
Guinea
Guadeloupe
Gambia
Guinea-Bissau
Equatorial Guinea
Greece
Grenada
Greenland
Guatemala
French Guiana
Guam
Guyana
Hong Kong
Heard Island and McDonald Islands
Honduras
Croatia
Haiti
Hungary
Indonesia
Isle of Man
India
British Indian Ocean Territory
Ireland
Iran, Islamic Republic of
Iraq
Iceland
Israel
Italy
Jamaica
Jersey
Jordan
Japan
Kazakhstan
Kenya
Kyrgyzstan
Cambodia
Kiribati
Saint Kitts and Nevis
Korea, Republic of
Kuwait
Lao People's Democratic Republic
Lebanon
Liberia
Libya
Saint Lucia
Liechtenstein
Sri Lanka
Lesotho
Lithuania
Luxembourg
Latvia
Macao
Saint Martin (French part)
Morocco
Monaco
Moldova, Republic of
Madagascar
Maldives
Mexico
Marshall Islands
North Macedonia
Mali
Malta
Myanmar
Montenegro
Mongolia
Northern Mariana Islands
Mozambique
Mauritania
Montserrat
Martinique
Mauritius
Malawi
Malaysia
Mayotte
Namibia
New Caledonia
Niger
Norfolk Island
Nigeria
Nicaragua
Niue
Netherlands
Norway
Nepal
Nauru
New Zealand
Oman
Pakistan
Panama
Pitcairn
Peru
Philippines
Palau
Papua New Guinea
Poland
Puerto Rico
Korea, Democratic People's Republic of
Portugal
Paraguay
Palestine, State of
French Polynesia
Qatar
Réunion
Romania
Russian Federation
Rwanda
Saudi Arabia
Sudan
Senegal
Singapore
South Georgia and the South Sandwich Islands
Saint Helena, Ascension and Tristan da Cunha
Svalbard and Jan Mayen
Solomon Islands
Sierra Leone
El Salvador
San Marino
Somalia
Saint Pierre and Miquelon
Serbia
South Sudan
Sao Tome and Principe
Suriname
Slovakia
Slovenia
Sweden
Eswatini
Sint Maarten (Dutch part)
Seychelles
Syrian Arab Republic
Turks and Caicos Islands
Chad
Togo
Thailand
Tajikistan
Tokelau
Turkmenistan
Timor-Leste
Tonga
Trinidad and Tobago
Tunisia
Turkey
Tuvalu
Taiwan, Province of China
Tanzania, United Republic of
Uganda
Ukraine
United States Minor Outlying Islands
Uruguay
United States
Uzbekistan
Holy See (Vatican City State)
Saint Vincent and the Grenadines
Venezuela, Bolivarian Republic of
Virgin Islands, British
Virgin Islands, U.S.
Viet Nam
Vanuatu
Wallis and Futuna
Samoa
Yemen
South Africa
Zambia
Zimbabwe

In [17]:
# building a dictionary to convert countries and omit non-country values
omit_lst = ['Diamond Princess', 'Kosovo', 'MS Zaandam', 'Summer Olympics 2020', 'Winter Olympics 2022']
convert_dict = {
    'Congo (Brazzaville)': 'Congo',
    'Congo (Kinshasa)': 'Congo',
    "Cote d'Ivoire": "Côte d'Ivoire",
    'Bolivia':'Bolivia, Plurinational State of',
    'Holy See':'Holy See (Vatican City State)',
    'Iran':'Iran, Islamic Republic of',
    'Korea, North':"Korea, Democratic People's Republic of",
    'Korea, South': 'Korea, Republic of',
    'Laos':"Lao People's Democratic Republic",
    'Micronesia':'Micronesia, Federated States of',
    'Moldova':'Moldova, Republic of',
    'Moldova':'Moldova, Republic of',
    'Russia':'Russian Federation',
    'Taiwan*':'Taiwan, Province of China',
    'Tanzania':'Tanzania, United Republic of',
    'US': 'United States',
    'West Bank and Gaza': 'Israel',
    'Burma': 'Myanmar',
    'Venezuela':'Venezuela, Bolivarian Republic of',
    'Vietnam':'Viet Nam'
}
# omitting and converting
combined_data['Country/Region']=combined_data['Country/Region'].replace(convert_dict)
for el in omit_lst:
    combined_data = combined_data.drop(combined_data[combined_data['Country/Region'] == el].index)

In [18]:
# convert test
import pycountry_convert 
for i in combined_data['Country/Region'].unique():
    print(pycountry_convert.country_name_to_country_alpha3(i))

AFG
ALB
DZA
AND
AGO
ATA
ATG
ARG
ARM
AUS
AUT
AZE
BHS
BHR
BGD
BRB
BLR
BEL
BLZ
BEN
BTN
BOL
BIH
BWA
BRA
BRN
BGR
BFA
MMR
BDI
CPV
KHM
CMR
CAF
TCD
CHL
CHN
COL
COM
COG
CRI
CIV
HRV
CUB
CYP
CZE
DNK
DJI
DMA
DOM
ECU
EGY
SLV
GNQ
ERI
EST
SWZ
ETH
FJI
FIN
FRA
GAB
GMB
GEO
DEU
GHA
GRC
GRD
GTM
GIN
GNB
GUY
HTI
VAT
HND
HUN
ISL
IND
IDN
IRN
IRQ
IRL
ISR
ITA
JAM
JPN
JOR
KAZ
KEN
KIR
PRK
KOR
KWT
KGZ
LAO
LVA
LBN
LSO
LBR
LBY
LIE
LTU
LUX
MDG
MWI
MYS
MDV
MLI
MLT
MHL
MRT
MUS
MEX
FSM
MDA
MCO
MNG
MNE
MAR
NAM
NPL
NLD
NZL
NIC
NER
NGA
MKD
NOR
OMN
PAK
PLW
PAN
PNG
PRY
PER
PHL
POL
PRT
QAT
ROU
RUS
RWA
KNA
LCA
VCT
WSM
SMR
STP
SAU
SEN
SRB
SYC
SLE
SGP
SVK
SVN
SLB
SOM
ZAF
SSD
ESP
LKA
SDN
SUR
SWE
CHE
TWN
TJK
TZA
THA
TGO
TON
TTO
TUN
TUR
USA
UGA
UKR
ARE
GBR
URY
UZB
VUT
VEN
VNM
YEM
ZMB
ZWE
CAN

In [19]:
#creating ISO-codes column 
combined_data['ISO-codes'] = combined_data.apply(lambda x: pycountry_convert.country_name_to_country_alpha3(x['Country/Region']), axis=1)
combined_data

,Province/State,Country/Region,date,confirmed,deaths,recoveries,ISO-codes
0,NaN,Afghanistan,1/22/20,0,0,0,AFG
1,NaN,Albania,1/22/20,0,0,0,ALB
2,NaN,Algeria,1/22/20,0,0,0,DZA
3,NaN,Andorra,1/22/20,0,0,0,AND
4,NaN,Angola,1/22/20,0,0,0,AGO
...,...,...,...,...,...,...,...
248035,NaN,Canada,8/10/22,4123562,43228,0,CAN
248036,NaN,Canada,8/11/22,4136552,43408,0,CAN
248037,NaN,Canada,8/12/22,4141368,43440,0,CAN
248038,NaN,Canada,8/13/22,4141368,43440,0,CAN
248039,NaN,Canada,8/14/22,4141368,43440,0,CAN

In [20]:
#total confirmed cases, deaths, recoveries for depicting on a map
map_data=combined_data.groupby('ISO-codes').sum()[['confirmed', 'deaths', 'recoveries']]
map_data['ISO-codes']=map_data.index
map_data.index=range(1, len(map_data)+1)
map_data['Country']=map_data.apply(lambda x: pycountry_convert.country_alpha2_to_country_name(pycountry_convert.country_alpha3_to_country_alpha2(x['ISO-codes'])), axis=1)
map_data

      confirmed    deaths  recoveries ISO-codes               Country
1      87862015   3799715    18289880       AFG           Afghanistan
2      38484999    833707     5895800       AGO                Angola
3     116703749   1741869    22652652       ALB               Albania
4      14816041     94261     3085649       AND               Andorra
5     438643594   1240988   118844069       ARE  United Arab Emirates
..          ...       ...         ...       ...                   ...
185     1651624      3139         561       WSM                 Samoa
186     5407892   1068760      772497       YEM                 Yemen
187  1777355844  49836295   433216733       ZAF          South Africa
188   126464819   1798232    21852796       ZMB                Zambia
189    86714810   2296959     8779035       ZWE              Zimbabwe

[189 rows x 5 columns]

In [21]:
#saving data
# map_data.to_csv('map.csv')
# combined_data.to_csv('combined_data.csv')

In [22]:
# importing geojson data
import geopandas as gpd
geo_data = gpd.read_file('https://datahub.io/core/geo-countries/r/countries.geojson')
geo_data=geo_data.drop(['ADMIN'], axis=1)
geo_data=geo_data.rename(columns={'ISO_A3':'ISO-codes'})
geo_data.head()

# merging geojson with the data for our map
map_w_geo = geo_data.merge(map_data, how='inner', on='ISO-codes')

In [27]:
# creating a map with layers
import folium
import branca.colormap as cm

# creating a map object and feature aka layers
full_covid_map = folium.Map(location=[13, 16], zoom_start=2, overlay=False)
confirmed_feature = folium.FeatureGroup(name='Confirmed cases', overlay=False).add_to(full_covid_map)
deaths_feature = folium.FeatureGroup(name='Deaths', overlay=False).add_to(full_covid_map)
recoveries_feature = folium.FeatureGroup(name='Recoveries', overlay=False).add_to(full_covid_map)

# building a confirmed cases layer
confirmed_layer = folium.Choropleth(geo_data=r'https://datahub.io/core/geo-countries/r/countries.geojson', 
                                    data=map_w_geo, 
                                    name='confirmed_cases',
                                    columns=['ISO-codes', 'confirmed'],
                                    key_on='feature.properties.ISO_A3',
                                    fill_color="YlGnBu",
                                    nan_fill_color="White",
                                    fill_opacity=0.7,
                                    line_opacity=0.2,
                                    legend_name="Confirmed cases (people)",
                                    highlight=True,
                                    overlay=False,
                                    line_color='black' ).geojson.add_to(confirmed_feature)
folium.features.GeoJson(
data=map_w_geo,
name='Total Confirmed Cases',
smooth_factor=2,
style_function=lambda x: {'color':'black','fillColor':'transparent','weight':0.5},
tooltip=folium.features.GeoJsonTooltip(
    fields=['Country',
            'confirmed'],
    aliases=["Country Name:",
            "Total confirmed cases:"], 
    localize=True,
    sticky=False,
    labels=True,
    style="""
        background-color: #F0EFEF;
        border: 2px solid black;
        border-radius: 3px;
        box-shadow: 3px;
    """,
    max_width=800,),
        highlight_function=lambda x: {'weight':3,'fillColor':'grey'},
    ).add_to(confirmed_layer)

# building deaths case layer
deaths_layer = folium.Choropleth(geo_data=r'https://datahub.io/core/geo-countries/r/countries.geojson', 
                                data=map_w_geo, 
                                name='deaths_cases',
                                columns=['ISO-codes', 'deaths'],
                                key_on='feature.properties.ISO_A3',
                                fill_color="YlOrRd",
                                fill_opacity=0.7,
                                nan_fill_color="White",
                                line_opacity=0.2,
                                legend_name="Deaths (people)",
                                highlight=True,
                                overlay=False,
                                line_color='black' ).geojson.add_to(deaths_feature)
folium.features.GeoJson(
data=map_w_geo,
name='Total Deaths',
smooth_factor=2,
style_function=lambda x: {'color':'black','fillColor':'transparent','weight':0.5},
tooltip=folium.features.GeoJsonTooltip(
    fields=['Country',
            'deaths'],
    aliases=["Country Name:",
            "Total deaths:"], 
    localize=True,
    sticky=False,
    labels=True,
    style="""
        background-color: #F0EFEF;
        border: 2px solid black;
        border-radius: 3px;
        box-shadow: 3px;
    """,
    max_width=800,),
        highlight_function=lambda x: {'weight':3,'fillColor':'grey'},
    ).add_to(deaths_layer)

# building recoveries layer
recoveries_layer = folium.Choropleth(geo_data=r'https://datahub.io/core/geo-countries/r/countries.geojson', 
                                    data=map_w_geo, 
                                    name='recoveries',
                                    columns=['ISO-codes', 'recoveries'],
                                    key_on='feature.properties.ISO_A3',
                                    fill_color='PuBuGn',
                                    nan_fill_color="White",
                                    fill_opacity=0.7,
                                    line_opacity=0.2,
                                    legend_name="Recoveries (people)",
                                    highlight=True,
                                    overlay=False,
                                    line_color='black').geojson.add_to(recoveries_feature)

folium.features.GeoJson(
data=map_w_geo,
name='TotalRecoveries',
smooth_factor=2,
style_function=lambda x: {'color':'black','fillColor':'transparent','weight':0.5},
tooltip=folium.features.GeoJsonTooltip(
    fields=['Country',
            'recoveries'],
    aliases=["Country Name:",
            "Total recoveries:"], 
    localize=True,
    sticky=False,
    labels=True,
    style="""
        background-color: #F0EFEF;
        border: 2px solid black;
        border-radius: 3px;
        box-shadow: 3px;
    """,
    max_width=800,),
        highlight_function=lambda x: {'weight':3,'fillColor':'grey'},
    ).add_to(recoveries_layer)  
folium.LayerControl(collapsed=False).add_to(full_covid_map)

# adding legends
# the way the numbers were calculated: map_w_geo['confirmed'].max() and billions were taken from it
colormap_confirmed = cm.linear.YlGnBu_08.scale(0, 40).to_step(10)
colormap_confirmed.caption = "Confirmed cases (billions)"
full_covid_map.add_child(colormap_confirmed)

# the way the numbers were calculated: map_w_geo['deaths'].max() and billions were taken from it
colormap_deaths= cm.linear.YlOrRd_05.scale(0, 500).to_step(100)
colormap_deaths.caption = "Deaths (millons)"
full_covid_map.add_child(colormap_deaths)

# the way the numbers were calculated: map_w_geo['recoveries'].max() and billions were taken from it
colormap_recoveries = cm.linear.PuBuGn_06.scale(0, 50).to_step(10)
colormap_recoveries.caption = "Recoveries (billions)"
full_covid_map.add_child(colormap_recoveries)


# saving to html file
full_covid_map.save('html_files/full_covid_map.html')

With the map built, time to create histograms for every country by date

In [23]:
combined_data.head()

,Province/State,Country/Region,date,confirmed,deaths,recoveries,ISO-codes
0,NaN,Afghanistan,1/22/20,0,0,0,AFG
1,NaN,Albania,1/22/20,0,0,0,ALB
2,NaN,Algeria,1/22/20,0,0,0,DZA
3,NaN,Andorra,1/22/20,0,0,0,AND
4,NaN,Angola,1/22/20,0,0,0,AGO

In [24]:
# creating a double index dataframe by grouping values by countries and date
hist_data = combined_data.groupby(['Country/Region', 'date']).sum()[['confirmed', 'deaths', 'recoveries']]
hist_data

                        confirmed  deaths  recoveries
Country/Region date
Afghanistan    1/1/21       52513    2201       41727
               1/1/22      158107    7356           0
               1/10/21      53489    2277       43948
               1/10/22     158394    7373           0
               1/11/21      53538    2288       44137
...                           ...     ...         ...
Zimbabwe       9/7/21      125796    4503           0
               9/8/20        7388     218        5477
               9/8/21      125931    4517           0
               9/9/20        7429     222        5542
               9/9/21      126056    4521           0

[176904 rows x 3 columns]

In [25]:
#list of countries from indexes
country_lst=[]
for i in hist_data.index:
    if i[0] not in country_lst:
        country_lst.append(i[0])
country_lst

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antarctica',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia, Plurinational State of',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 "Côte d'Ivoire",
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Holy See (Vatican City State)',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran, Islamic Republic of',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 "Korea, Democratic People's Republic of",
 'Korea, Republic of',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia, Federated States of',
 'Moldova, Republic of',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Taiwan, Province of China',
 'Tajikistan',
 'Tanzania, United Republic of',
 'Thailand',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela, Bolivarian Republic of',
 'Viet Nam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [28]:
# building plots for every country and save them in htmls
import plotly.graph_objects as go
for current_country in country_lst:
    temp_frame=hist_data.loc[(current_country,)]
    temp_frame['date']=temp_frame.index
    fig=go.Figure()
    fig.add_trace(go.Scatter(x=temp_frame['date'], y=temp_frame['deaths'], name='deaths'))
    fig.add_trace(go.Scatter(x=temp_frame['date'], y=temp_frame['confirmed'], name='confirmed'))
    fig.add_trace(go.Scatter(x=temp_frame['date'], y=temp_frame['recoveries'], name='recoveries'))
    fig.write_html(f'html_files/{current_country}.html')

Final step - creating an html doc that contains all our results

In [38]:
#beginning of an html doc and a world map
html_text_beginnig = '''
<!DOCTYPE html>
<html>
<body style="background-image: url('swirl_pattern.webp');">

<h1 style="font-size: 60px;">COVID19 Dashboard</h1>
<img src="coronavirus-image-small.jpg" style="width: 280px; height: 249px; float: middle">

<p style="font-size: 20px;">This shitty html is my take on covid dashboard. Here you can find:</p>
<p style="font-size: 20px;">- Interactive-ish world COVID map with three modes: Confirmed Cases, Deaths, Recoveries with 189 countries on it</p>
<p style="font-size: 20px;">- Interactive-ish line charts with confirmed cases, deaths, recoveries by date for the 189 countries on the map</p>
<p style="font-size: 20px;">Hope, you like it :)</p>

<h2 style="font-size: 40px;">Table of contents:</h2>

<a href="full_covid_map.html" style="font-size: 20px;">The world map</a>

<h3 style="font-size: 40px;">Countries:</h3>
<ul>
'''

#including countries
countries_html_links=""
for current_country in country_lst:
    countries_html_links+=f"\n<li><a href='{current_country}.html' style='font-size: 20px;'>{current_country}</a></li>\n"

closing_lines = """
</ul>
</body>
</html>
"""

full_html_text = html_text_beginnig+countries_html_links+closing_lines
with open('html_files/1dashboard.html', 'w') as file:
    file.write(full_html_text)

Openning the result

In [62]:
import pathlib
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

html_file = pathlib.Path().cwd()/"html_files//1dashboard.html"
html_file
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
driver.get(html_file.as_uri())

__Conclusion__

We collected data, refined it to resolve conflicts, merged it into one table. Then used the data in the table to build an interactive world map of confirmed covid cases, covid related deaths and recoveries. In addition, scatter charts for every country with covid progresiion by date were built. Finally, the resulting map and scatter charts were combined into one html file to imitate the dashboard